[submodule "tag-shell/oh-my-zsh"]
	path = tag-shell/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "tag-shell/zsh_custom/plugins/zsh-syntax-highlighting"]
	path = tag-shell/zsh_custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "tag-vim/vim/bundle/Vundle.vim"]
	path = tag-vim/vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim
[submodule "tag-shell/zgen"]
	path = tag-shell/zgen
	url = https://github.com/tarjoilija/zgen
